<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.mapper.TblPayMapper">
  <resultMap id="BaseResultMap" type="com.zx.entity.TblPay">
    <!--@mbg.generated generated on Sat Jan 15 21:10:22 CST 2022.-->
    <!--@Table tbl_pay-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pay_name" jdbcType="VARCHAR" property="payName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat Jan 15 21:10:22 CST 2022.-->
    id, pay_name
  </sql>
</mapper>