<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.mapper.TbuserMapper">

    <resultMap id="BaseResultMap" type="com.zx.entity.Tbuser">
            <id property="userid" column="userid" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="userroles" column="userroles" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        userid,username,password,
        userroles,nickname
    </sql>
    <insert id="add">

        insert  into   compare1 ( pictureName,sectionType,num1,num2,num3) values (#{compareVo.pictureName},#{compareVo.sectionType},
        #{compareVo.num1},  #{compareVo.num2},  #{compareVo.num3}
        )
    </insert>
    <insert id="add2">
        insert  into   compare3 ( pictureName,sectionType,num1,num2,num3)  values (#{compareVo.pictureName},#{compareVo.sectionType},
          #{compareVo.num1},  #{compareVo.num2},  #{compareVo.num3})
    </insert>
    <insert id="adAnser">

        insert  into answer(message)  values (#{ message })

  </insert>

    <select id="test" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
        select count(*) from server_list where
        i_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>
    <select id="select1" resultType="com.zx.entity.CompareVo">
        select  pictureName,sectionType from   compare1
    </select>

    <select id="select2" resultType="com.zx.entity.CompareVo">
        select  pictureName,sectionType from   compare2
    </select>

</mapper>
