<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.mapper.PositionDetailMapper">
  <resultMap id="BaseResultMap" type="com.zx.entity.PositionDetail">
    <!--@mbg.generated-->
    <!--@Table position_detail-->
    <id column="Id" jdbcType="BIGINT" property="id" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    Id, pid, description
  </sql>
</mapper>